@use '../SharedStyles/shared';

.track {
  border-radius: 20px;
  @include shared.setGrid(1fr 2fr, auto, center, center);
}

.trackInfo {
  justify-self: start;
  @include shared.setFlexBox(column, nowrap);

  h2, p {
    margin: 0;
  }

  p {
    color: rgb(100, 100, 100);
  }
}

.artwork {
  @include shared.setFlexBox(row, nowrap, normal, normal, center, center);
  img {
    border-radius: 10px;
    max-width: 80px;
    height: auto;
  }
}

/*Media Queries*/
