.tracklistItem,
#tracklist {
  display: flex;
  border-radius: 20px;
}

#tracklist {
  flex-flow: column nowrap;
  gap: 10px;
  background-color: #1AB26B;
  padding: 20px;
}

.tracklistItem {
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #fff;
}

.addButton,
.removeButton{
  color: #1AB26B;
  align-self: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}

.removeButton {
  color: crimson;
}