#searchForm {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 60px;
}

#songSearchField {
  border: none;
  border-radius: 25px;
  background-color: #DBDBDB;
  padding: 0.8rem;
  color: #1AB26B;
  font-size: 1.2rem;
}

#submitButton {
  border: none;
  border-radius: 30px;
  padding: 0.5rem;
  background-color: #1AB26B;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}