/*Imports*/
@use '../SharedStyles/shared';

#searchForm {
  @include shared.setFlexBox(column, nowrap, 4vh, normal);
}

#songSearchField {
  border: none;
  border-radius: shared.$borderRadius;
  background-color: shared.$inputBackgroundColor;
  color: shared.$spotifyColor;
  padding: 4%;
  font: {
    size: 1.5rem;
  }
}

#submitButton {
  @extend %spotilistButton;
}

