/*Import shared styles*/
@use 'Components/SharedStyles/shared';

/*Variables*/


.appName {
  color: shared.$spotifyColor;
  font-size: 3rem;
  font-family: "Trebuchet MS", sans-serif;
}

header {
  text-align: center;
}

/* Mobile first styles */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 3rem;
  justify-items: center;
}

#search {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Media queries */

@media (min-width: 1300px) or (orientation: landscape) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  #search {
    grid-column: 1 / -1;
  }
}