/* Variables */
$spotifyColor: #1AB26B;
$backgroundColor: #fff;
$borderRadius: 30px;

/*
mixins
*/
@mixin setFlexBox(
  $flex-direction: row,
  $flex-wrap: nowrap,
  $row-gap: normal,
  $column-gap: normal,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  gap: $row-gap $column-gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin setGrid(
  $columns: auto,
  $rows: auto,
  $justify-items: stretch,
  $align-items: stretch,
  $row-gap: 0,
  $column-gap: 0
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  justify-items: $justify-items;
  align-items: $align-items;
  gap: $row-gap $column-gap;
}